@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

:root {
  --navbar-white: white;
  --primary-black: black;
}

body {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
}

/* Navbar */
.logo {
  width: 16.25rem;
  height: 6rem;
  background-color: var(--navbar-white);
}

/* Menu Links */ 
nav a.nav-link {
  font-family: "Caveat", cursive;
  font-weight: 700;
  letter-spacing: 0.04rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: var(--primary-black);
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-bottom: 0.1875rem solid var(--navbar-white);
}

.navbar-brand {
  max-width: 16.25rem;
  padding: 0;
}

.navbar-nav > li > a:hover {
  border-bottom: 0.1875rem solid var(--primary-black);
}