@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

:root {
  --background-cream: #ebe6d9; /*f9f5e9*/
  --primary-black: black;
  --light-green: #739072;
  --medium-green: #4F6F52;
  --dark-green: #3A4D39;
}

body {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  background-color: var(--background-cream);
}

/* -------------Navbar----------------- */
.logo {
  width: 16.25rem;
  height: 6rem;
}

.navbar {
  background-color: var(--background-cream);
}

/* -------------Menu Links-------------- */ 
nav a.nav-link {
  font-family: "Caveat", cursive;
  font-weight: 700;
  letter-spacing: 0.04rem;
  cursor: pointer;
  font-size: larger;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: var(--primary-black);
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-bottom: 0.1875rem solid var(--background-cream);
}

.navbar-brand {
  max-width: 16.25rem;
  padding: 0;
}

.navbar-nav > li > a:hover {
  border-bottom: 0.1875rem solid var(--medium-green);
}

/* -------------Header-------------- */
.header-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  background-color: var(--background-cream);
  padding: 0 10rem 0 10rem;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Caveat", cursive;
  background-color: var(--background-cream);
}

.main-info h1 {
  color: var(--medium-green);
  text-transform: uppercase;
  font-weight: bold;
  font-size: xx-large;
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.5rem;
  }
}

/* -------------Cards-------------- */
.card-section {
  background-color: var(--background-cream);
}

.section-title {
  text-align: center;
  font-family: "Caveat", cursive;
  font-weight: 600; 
}

.card-header > h1 {
  padding-top: 2rem;
  color: var(--dark-green);
}

.card {
  width: 18rem;
  background-color: var(--light-green);
  border: none;
  border-radius: 0.01rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  max-width: 25%;
}

.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 2rem;
  background-color: var(--background-cream);
}

.card:hover {
  transform: translateY(-10px);
}

.card-img {
  width: 90%;
  height: 90%;
  border-radius: 2rem;
}

/* -------------About-------------- */
.about-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--dark-green);
  height: 70vh;
}

.bitmoji {
  height: 35vh;
}

.about-paragraph {
  color: white;
  font-family: "Caveat", cursive;
  font-size: x-large;
}

.about-paragraph button {
  text-align: center;
}

/* -------------Contact-------------- */
.contact-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--dark-green);
  padding: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

textarea, input:not([type='submit']) {
  height: 50px;
  padding-left: 16px;
  width: 250px;
}

textarea {
  padding-top: 16px;
  resize: none;
  height: 250px;
}

input, textarea {
  border-radius: 20px;
  border: 1px solid var(--background-cream);
  box-sizing: border-box;
  justify-self: center;
  background-color: var(--dark-green);
  color: var(--background-cream);
}

::placeholder {
  color: var(--background-cream);
}

input[type='submit'] {
  background-color: var(--background-cream);
  border-radius: 20px;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  margin: auto;
  color: var(--dark-green);
  font-family: "Caveat", cursive;
  font-weight: 600;
  font-size: larger;
}